<h1>Add a New Photo</h1>

<form action = "http://localhost:3000/photos/create_photo">
  <label>Caption</label>
  <input type="text" name = "the_caption">

  <label>Image URL</label>
  <input type="text" name = "the_source">

  <button> Create Photo </button>
</form>
